<div class="row container-main m-0 p-0">
    <div class="col-12 col-md-7   login-portal d-none d-md-block d-lg-block  ">

    </div>
    <div class="container-login col-12 col-md-5 row ">
        <h2 >Registro de usuario</h2>

        <form class="row col-8 d-flex justify-content-center align-items-center" [formGroup]="formRegister">
            <div class="col-10 ">
                <label for="email" class="form-label ">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
            </div>
            <div class="col-10 ">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>

            <div class="col-12 text-center">
                <button type="submit" class="button-gradiente button-gradiente-hover" (click)="onSubmit()">Sign in</button>
            </div>
        </form>
    </div>


</div>