@use "./../../sass/colors" as colors;
@use "./../../sass/gradients" as gradients;

.sidebar {
    position: relative;
    transition: all 0.5s;
}

.sidebar-large {
    height: 100vh;
    color: colors.$bright-turquoise-100 ;
    background-color: colors.$bright-turquoise-600;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.sidebar-small-btn {
    position: fixed;
    width: 4rem;
}

.sidebar-small {
    @include gradients.background-gradient;
    color: colors.$bright-turquoise-100 ;
    width: 4rem;
    z-index: 1000;
}

.nav-link {
    cursor: pointer;
    color: colors.$bright-turquoise-50 ;


}

.nav-link--item {
    color: colors.$bright-turquoise-500 ;
    cursor: pointer;

}

.nav {
    font-size: large;
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;

}