$bright-turquoise-50: #effefd;
$bright-turquoise-100: #c7fffa;
$bright-turquoise-200: #90fff6;
$bright-turquoise-300: #50f8ef;
$bright-turquoise-400: #3be8e5;
$bright-turquoise-500: #04c8c8;
$bright-turquoise-600: #009ea1;
$bright-turquoise-700: #057c80;
$bright-turquoise-800: #096266;
$bright-turquoise-900: #0d5154;
$bright-turquoise-950: #002e33;



.sidebar {
    height: 100vh; /* 100% del alto de la ventana */
    background: linear-gradient(90deg, $bright-turquoise-500, $bright-turquoise-700);
    color:$bright-turquoise-100 ;
}
a{
    color:$bright-turquoise-100 ;
}