
   
        <!-- Menú lateral (1/8 de la página) -->
        <div class=" bg-dark text-light sidebar">


            
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/profile">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Opción 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Opción 3</a>
                </li>
            </ul>
        </div>


<router-outlet></router-outlet>