@use "./../../sass/colors.scss" as colors;

h1,
h2 {
    color: colors.$bright-turquoise-900;
    font-weight: 900;
    padding: 5px;
    
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    height: 100%;
    padding: 10px;

    p{
        color:colors.$bright-turquoise-50;
        font-size: large;
    }
   


}

.welcome-text {

    background-color: colors.$bright-turquoise-600;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
}
.project{
    padding: 10px;
}