<nav class="navbar navbar-expand-lg navbar-background">
  <div class="container-fluid">
    <a class="navbar-brand app-title" href="#">My Time Regisger App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav"> 
        <a class="nav-link active" aria-current="page" routerLink="dashboard">Dashboard</a>
        <a class="nav-link" *ngIf="!isLoggin" routerLink="login">Login</a>
        <a class="nav-link" *ngIf="!isLoggin" routerLink="register">Register</a>
        <a class="nav-link" *ngIf="isLoggin" (click)="logout()">Cerrar sesion</a>



      </div>
    </div>



  </div>
</nav>


<router-outlet></router-outlet>