@import './../../sass/colors';

// background: linear-gradient(90deg, $bright-turquoise-500, $bright-turquoise-700);
.container-main {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;

    // background-image: url("../../../assets/images/background-images/fondo-acuarela-pastel-abstracto-colorido.jpg");
    background-image: url("../../../assets/images/background-images/formas-papel-psicodelico-multicolor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    
 
   
  .container-login{
    padding: 15px 0px;
    background: #cf7f0647;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    h2 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $bright-turquoise-900;
        font-size: 2rem;
        font-weight: 700;
    }


    form {
  
        padding: 15px 0px;      


        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        border-radius: 10px;      


        .container-inputs {
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 1rem;
       
        }

    }
}
.container-register{
    color: white;
    font-size: 1rem;

    a{
        color: $bright-turquoise-700;
        font-weight: 700;
    
    }
}




button{
    font-size: 1.2
    rem;
}



.button-gradiente-hover,
.button-gradiente {
    background: linear-gradient(90deg, $bright-turquoise-400, $bright-turquoise-600);
    border: none;    
    border-radius: 8px;   
    padding: 10px 20px; 
    color: white;
    cursor: pointer; 
    text-align: center;
    text-decoration: none;

}


.button-gradiente-hover:hover {
    background: linear-gradient(90deg, $bright-turquoise-500, $bright-turquoise-700);
}

.button-gradiente {
    background: linear-gradient(90deg, $bright-turquoise-400, $bright-turquoise-600);
}