<div class="row container-main m-0 p-0">
    <div class="col-lg-8 col-md-4 login-portal d-none d-md-block d-lg-block ">

    </div>
    
    <div class="container-login col-12 col-lg-4 col-md-8 row ">
        <h2>Login</h2>
   
    
        <form class="row col-8 d-flex justify-content-center" [formGroup]="formLogin">
            <div class="col-10 ">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
            </div>
            <div class="col-10 ">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <div>
                <p class="text-center">No estas registrada?
                    <a routerLink="/register">Registrate!</a> </p>
            </div>
    
            <div class="col-12 text-center">
                <button type="submit" class="button-gradiente button-gradiente-hover" (click)="onSubmit()">Login in</button>
            </div>
        </form>
    
        <div class="col-12 text-center">
            <button type="submit" class="button-gradiente button-gradiente-hover" (click)="onGoogleSubmit()">Login in with google</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
