<div class="modal-container">
    <header>
        <div class="header"><span>{{data.header}}</span></div>
        <h1>{{ data.title }}</h1>
    </header>
    <main>
              
            <div class="modal-content" *ngFor="let row of data.rows">
                <table>
                    <tr>
                        <th>{{ row.label }}</th>
                      
                    </tr>
                    <tr>
                        {{ information[row.field] }}
                       
                    </tr>
                </table>
              

            </div>
      

    </main>

   
        <div class="btn-modal btn-modal-close">
            <button mat-raised-button color="primary" mat-button mat-dialog-close>Cerrar</button>
        </div>
   



</div>