@use "./../../sass/shadows.scss" as shadows;
@use "./../../sass/colors.scss" as colors;
@use "./../../sass/gradients.scss" as gradients;


.my-card:hover {
  transform: scale(1.1, 1.1);
  z-index: 1000;
  @include shadows.shadow-hover;
}

.my-card {
  width: 250px;
  height: 200px;
  border-radius: 15px;
  background-color: colors.$bright-turquoise-700;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  @include shadows.shadow-bottom-right;
}

.my-card::before {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: -40%;
  left: -20%;
  border-radius: 50%;
  border: 35px solid rgba(255, 255, 255, 0.102);
  transition: all .8s ease;
  filter: blur(.5rem);
}

.text {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 900;
  font-size: 1.2em;
}

.subtitle {
  font-size: 1em;
  font-weight: 300;
  color: rgba(240, 248, 255, 0.691);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  /* O ajusta según sea necesario */
}

.icons {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 250px;
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
}

.btn {
  border: none;
  width: 84px;
  height: 35px;
  background-color: colors.$bright-turquoise-50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-icon {
  width: 25px;
  height: 25px;
  stroke: rgb(38, 59, 126);
}

.btn:hover {
  background-color: colors.$bright-turquoise-100;
  @include gradients.background-gradient
}

.card:hover::before {
  width: 140px;
  height: 140px;
  top: -30%;
  left: 50%;
  filter: blur(0rem);
}